/*Mobile CSS*/
body:not(.section6) {
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

header {
    /*background-color: #272d39;*/
    background-color:rgba(55, 61, 73, 0.975);
    padding: 7px ;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    position: sticky;
    top: 0;
    height: 40px;

}

.steller-logo {
    display: none;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14pt;
    color: white;
}

.like-download-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 735px;
}

.like-btn {
    display: none;
    box-sizing: border-box;
    border: 1px solid #5b5e6d;
    border-radius: 4px;
    width: 179px;
    padding-left: 10px;
    padding-top: 4px;
}

.like-wrapper img {
    max-width: 50%;
}
/*nesigavo suvaldyti paveiksliuko like aukscio ir plocio*/
/*.like-wrapper {*/
/*    border: 3px solid green;*/
/*    height: 16px;*/
/*}*/

/*.like-wrapper img {*/
/*    max-width: 100%;*/
/*}*/


.back-btn {
    box-sizing: border-box;
    border: 1px solid #5b5e6d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 10pt;
    color: white;
    display: inline;
}

/*kodel nehoverina and mobile kai uzvedam pele*/
.back-btn:hover {
    box-sizing: border-box;
    border: 1px solid #e7746f;
    border-radius: 4px;
    color: #e7746f;
    padding: 10px 20px;
    font-weight: 600;
    display: inline;
}

.download-btn {
    /*nebutinas borderis*/
    /*border: 1px solid #dee0e3;*/
    background-color: #e7746f;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    display: inline;
}

.number {
    font-weight: 500;
}

/*
{bygtuko sviesus apsvietimas
    border-color: #575d69;
}
*/


/*Section1 CSS*/
.section1 {
    background-color: #625197;
    padding: 51px 15px 8px 15px;
    text-align: center;
    color: white;
}

.rocket {
    height: 85px;
}

.rocket img {
    height: 100%;
}

h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /*Nepavyko sumazinti fontwight iki reikiamo plocio*/
    font-weight: 300;
    margin-bottom: 10px;
}

.section1 p {
    color: rgba(255, 255, 255, 0.65);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 25px;
}


/*section2 CSS*/
.section2 {
    background-color: white;
    text-align: center;
    padding: 37px 15px 8px 15px;
    color: #636363;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h2 {
    font-weight: 300;
    margin-bottom: 16px;
}

.phone {
    height: 176px;
}

.phone img {
    height: 100%;
}

.border-line {
    border: 1px solid white;
    width: 80px;
    margin: 0 auto;
    height: 1px;
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.section2 p {
    font-size: 10pt;
    line-height: 25px;
    margin-bottom: 30px;
    /*Kaip ten su tuo font-family ir size ir t.t*/
}

.learn-more-btn {
    border: 1px solid #dddddd;
    border-radius: 8px;
    min-width: 100px;
    height: 2.75em;
    /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
    line-height: 2.75em;
    font-size: 10pt;
    margin-bottom: 30px;
}


/*Section3 CSS*/
.section3 {
    border: 1px solid #e7e7e7;
    background-color: white;
    text-align: center;
    padding: 37px 15px 8px 15px;
    color: #636363;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.border1 {
    margin: 0 auto;
    height: 124px;
    width: 124px;
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    /*padding: 1px;*/
    display:flex;
}

.border2 {
    height: 115px;
    width: 115px;
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    /*padding: 1px;*/
    margin: auto;
    display: flex;
}

.pic1, .pic2, .pic3 {
    margin: auto;
    font-size: 60px;
    font-weight: 200;
}

.pic1 {
    color: #efa8b0;
}

.pic2 {
    color: #c79cc8;
}

.pic3 {
    color: #8cc9f0;
}

.section3 .border-line {
    margin-bottom: 16px;
}

.section3 .border1 {
    margin-bottom: 22px;
}

.section3 h3 {
    margin-bottom: 13px;
    margin-top: 0;
}

.section3 p {
    margin: 0;
}

.section1-content-wrapper:nth-child(2),.section1-content-wrapper:nth-child(3)  {
    margin-top: 30px;
}

.section1-content-wrapper:nth-child(3) p {
    margin-bottom: 20px;
}

/*.pic1::before {*/
/*    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f121";*/
/*}*/



/*section4 CSS*/
.section4 {
    border: 1px solid #e7e7e7;
    background-color: white;
    text-align: center;
    padding: 37px 15px 8px 15px;
    color: #636363;
    font-family: "Source Sans Pro", Helvetica, sans-serif;

}

.section4 h2 {
    margin-bottom: 14px;
}

.section4 .border-line {
    margin: 15px auto 22px auto;
}

.section4 .section4-first-content {
    margin-bottom: 30px;
    text-align: center;
    line-height: 25px;
}

.section4 .section4-last-content {
    margin-bottom: 30px;
    text-align: justify;
    line-height: 25px;
}
/*
spalvos
#efa8b0;
#c79cc8;
#a89cc8;
#9bb2e1;
#8cc9f0;
*/

/*cards CSS*/
.color-card1, .color-card2, .color-card3, .color-card4, .color-card5 {
    padding: 22px;
}

.color-card1{
    background: #efa8b0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.color-card2{
    background: #c79cc8;
}

.color-card3{
    background: #a89cc8;
}

.color-card4{
    background: #9bb2e1;
}

.color-card5{
    background: #8cc9f0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.color-images-5{
    margin: 0 19px 30px 19px;
    color: white;
}

.some-name {
    font-size: 10pt;
    margin: 0;
}

.section4-number{
    font-size: 28pt;
    font-weight: 300;
    margin: 0 auto 5px auto;
}

.section4 i {
    font-size: 36pt;
    margin: 17px auto 17px auto;
}

/*section5 css*/

.section5 {
    border-top: 1px solid #e7e7e7;
    background-color: white;
    text-align: center;
    padding: 37px 15px 8px 15px;
    color: #636363;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.section5 p {
    line-height: 25px;
    text-align: center;
    font-size: 10pt;
    margin-bottom: 25px;
}

.section5 h2 {
    margin-bottom: 16px;
}

.get-started-btn {
    background-color: #9acff2;
    border-radius: 8px;
    min-width: 100px;
    height: 2.75em;
    /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
    line-height: 2.75em;
    font-size: 10pt;
    color: white;
    margin-bottom: 15px;
}


/*Section6 CSS*/
.section6 {
    text-align: left;
    padding: 37px 15px 8px 15px;
    margin-bottom: 44px;
    color: white;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.contacts-content h2 {
    margin: 0 0 16px 0;
}

.section6 .section6-first-content{
    margin: 0 0 30px 0;
    line-height: 25px;
    font-size: 10pt;
}

.section6 .learn-more-btn {
    text-align: center;
}




/*cotacts grid*/

.contacts-wrapper {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas:
    "h h h"
    "a . a1"
    "p . p1"
    "e . e1"
    "s s s";
}

.contacts-header {
    grid-area: h;
    font-size: 15pt;
    margin-bottom: 16px;
}

.contacts-address {
    grid-area: a;
    font-size: 10pt;
    display:flex;
    margin: 0;
    font-weight: bold;
    line-height: 25px;
}

.contacts-address-content {
    grid-area: a1;
    font-size: 9pt;
    line-height: 25px;
    padding: 0;
    display:flex;
    margin: 0;

}

.contacts-phone {
    grid-area: p;
    font-size: 10pt;
    font-weight: bold;
    display:flex;
    margin: auto 0;
}

.contacts-phone-content {
    grid-area: p1;
    display:flex;
    margin: auto 0;
    font-size: 9pt;
    line-height: 25px;
    padding: 0;
}

.contacts-email {
    grid-area: e;
    font-size: 10pt;
    font-weight: bold;
    display:flex;
    margin: auto 0;
}

.contacts-email-content {
    grid-area: e1;
    display:flex;
    margin: auto 0;
    font-size: 9pt;
    line-height: 25px;
    padding: 0;
    text-decoration: underline;
}

.social-media-wrapper {
    grid-area: s;
    display:flex;
    font-size: 15pt;
}

.social-media-wrapper i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
    margin-right: 10px;
}

footer {
    margin: 30px 0 54px 0;
    color: white;
    font-size: 10pt;
    padding: 10px;
}

/*@media CSS for bigger screen*/
@media only screen and (min-width: 482px) {
   .section1-content-wrapper {
       max-width: 100%;
       margin: 0 30px;
       background: white;
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
   }

    .section1 .section1-content-wrapper{
        background: none;
    }

    .section1 {
        padding: 64px 32px 16px 32px;
    }

    .section .logo {
        margin-bottom: 24px;
    }
    .section1 p {
        margin-bottom: 32px;
        font-size: 1em;
    }

    .section1 h1 {
        margin-bottom: 10px;
        font-size: 2.5em;
    }

    /*Section2*/
    .section2 {
        background: none;
        padding: 0;
    }
    .section2 .section1-content-wrapper {
        padding: 48px 32px 16px 32px;
    }
    .section2 .phone {
        height: 192px;
        margin-bottom: 32px;
    }

    .section2 h2 {
        margin-bottom: 17px;
    }

    .section2 .border-line {
        width: 80px;
        margin: 17px auto 24px auto;
        height: 2px;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    }
    .section2 p {
        margin: 0 0 32px 0;
        font-size: 100%;
        font-weight: normal;
    }

    .learn-more-btn {
        border: 1px solid #dddddd;
        border-radius: 8px;
        max-width: 72px;
        padding: 0 24px 0 24px;
        height: 2.75em;
        /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
        line-height: 2.75em;
        font-size: 12pt;
        margin: 0 auto 32px auto;
    }

    .learn-more-btn:hover {
        border: 1px solid #dddddd;
        background-color: #f7f7f7;
        border-radius: 8px;
        max-width: 72px;
        padding: 0 24px 0 24px;
        height: 2.75em;
        /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
        line-height: 2.75em;
        font-size: 12pt;
        margin: 0 auto 32px auto;
    }

    /*section3*/
    .section3 {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
    }

    .section3 .section1-content-wrapper{
        margin: 0 30px 0 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0 32px 0 32px;
    }

    .section3 .section1-content-wrapper:first-child{
        border-top: 1px solid #e7e7e7;
        padding-top: 48px;
    }

    .section3 h2 {
        margin-bottom: 17px;
        margin-top: 0;
    }

    .section3 .border-line {
        width: 80px;
        margin: 17px auto 24px auto;
        height: 2px;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    }

    .section3 .border1 {
        margin: 0 auto 24px auto;
    }

    .section3 h3 {
        margin-bottom: 14px;
        font-size: 1.25em;
        font-weight: normal;
    }
    .section3 p {
        padding-bottom: 32px;

    }

    .section3 p:nth-child(3) {
        margin-bottom: 0;
    }

    .section3 .learn-more-btn {
        border: 1px solid #dddddd;
        border-radius: 8px;
        max-width: 72px;
        padding: 0 24px 0 24px;
        height: 2.75em;
        /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
        line-height: 2.75em;
        font-size: 12pt;
        margin: 0 auto 0 auto;
    }

    .section3 .learn-more-btn:hover {
        border: 1px solid #dddddd;
        background-color: #f7f7f7;
        border-radius: 8px;
        max-width: 72px;
        padding: 0 24px 0 24px;
        height: 2.75em;
        /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
        line-height: 2.75em;
        font-size: 12pt;
        margin: 0 auto 0 auto;
    }

    .section3 div.learn-more-btn {
        /*padding-bottom: 30px;*/
    }

    .section3 .section1-content-wrapper:last-child {
        padding-bottom: 45px;
    }

    /*section4*/
    .section4 {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
    }

    .section4 .section1-content-wrapper {
        padding: 48px 32px 16px 32px;
    }

    .section4 .section1-content-wrapper:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid #e7e7e7;
    }

    .section4 h2 {
        margin: 0 0 17px 0;
    }

    .section4 .border-line {
        width: 80px;
        margin: 17px auto 24px auto;
        height: 2px;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    }

    .section4 .section4-first-content {
        margin: 0 0 32px 0;
        text-align: center;
    }

    /*section5*/
    .section5 {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
    }

    .section5 .section1-content-wrapper {
        padding: 48px 32px 16px 32px;
    }

    .section5 .section1-content-wrapper:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid #e7e7e7;
    }

    .section5 .section1-content-wrapper{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }


    .section5 h2 {
        margin: 0 0 17px 0;
    }

    .section5 .border-line {
        width: 80px;
        margin: 17px auto 24px auto;
        height: 2px;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    }

    .section5 p {
        margin-bottom: 32px;
        font-size: 12pt;
    }

    .section5 .learn-more-btn {
        border: 1px solid #dddddd;
        border-radius: 8px;
        max-width: 72px;
        padding: 0 24px 0 24px;
        height: 2.75em;
        /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
        line-height: 2.75em;
        font-size: 12pt;
        /*margin: 0 auto 0 auto;*/
    }

    .section5 .learn-more-btn{
        margin: 0;
    }

    .section5 .get-started-btn {
        background-color: #9acff2;
        border-radius: 8px;
        max-width: 72px;
        padding: 0 24px 0 24px;
        height: 2.75em;
        /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
        line-height: 2.75em;
        font-size: 12pt;
        color: white;
        /*margin-bottom: 15px;*/
    }

    .section5 .section5-btn-wrapper {
        margin: 0;
        padding: 0 15px;
        display: flex;
        justify-content: space-around;
    }

    /*section6 */


    /*.section6  {*/
    /*    padding: 0;*/
    /*    background-color: none;*/
    /*}*/

    /*.section6 .section1-content-wrapper {*/
    /*    background-color: none;*/
    /*    color: black;*/
    /*}*/

}


/*@media plansetems 776*/
@media only screen and (min-width: 736px) {
    header {
        /*background-color: #272d39;*/
        background-color:rgba(55, 61, 73, 0.975);
        padding: 7px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .like-download-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .like-btn {
        display: inline;
    }

    .like-btn {
        display: flex;
        box-sizing: border-box;
        border: 1px solid #5b5e6d;
        border-radius: 4px;
        padding: 8px 20px;
        font-weight: 600;
        font-size: 10pt;
        color: white;
    }

    .like-wrapper {
        height: 20px;
    }

    .like-wrapper img {
        min-width: 100%;
    }

    .steller-logo {
        display: inline;
    }

    .download-btn, .back-btn {
        margin-left: 10px;
    }
}




