/*Mobile CSS*/
body {
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

header {
    /*background-color: #272d39;*/
    background-color:rgba(55, 61, 73, 0.975);
    padding: 7px 7px 7px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.back-btn {
    box-sizing: border-box;
    border: 1px solid #5b5e6d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 10pt;
    color: white;
    display: inline;
}

/*kodel nehoverina and mobile kai uzvedam pele*/
.back-btn:hover {
    border: 1px solid #e7746f;
    border-radius: 4px;
    color: #e7746f;
    padding: 10px 20px;
    font-weight: 600;
    display: inline;
}

.download-btn {
    /*nebutinas borderis*/
    /*border: 1px solid #dee0e3;*/
    background-color: #e7746f;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    display: inline;
}

.number {
    font-weight: 500;
}

/*
{bygtuko sviesus apsvietimas
    border-color: #575d69;
}
*/


/*Section1 CSS*/
.section1 {
    background-color: #625197;
    padding: 51px 15px 8px 15px;
    text-align: center;
    color: white;
}

.rocket {
    height: 85px;
}

.rocket img {
    height: 100%;
}

h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /*Nepavyko sumazinti fontwight iki reikiamo plocio*/
    font-weight: 300;
    margin-bottom: 10px;
}

.section1 p {
    color: rgba(255, 255, 255, 0.65);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 25px;
}


/*section2 CSS*/
.section2 {
    background-color: white;
    text-align: center;
    padding: 37px 15px 8px 15px;
    color: #636363;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h2 {
    font-weight: 300;
    margin-bottom: 16px;
}

.phone {
    height: 176px;
}

.phone img {
    height: 100%;
}

.border-line {
    border: 1px solid white;
    width: 100px;
    margin: 0 auto;
    height: 1px;
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.section2 p {
    font-size: 10pt;
    line-height: 25px;
    margin-bottom: 30px;
    /*Kaip ten su tuo font-family ir size ir t.t*/
}

.learn-more-btn {
    border: 1px solid #dddddd;
    border-radius: 8px;
    min-width: 100%;
    height: 2.75em;
    /*kai yra bottonas ir jame tekstas naudoja texto centravimui auksciui em?*/
    line-height: 2.75em;
    font-size: 10pt;
    margin-bottom: 30px;
}


/*Section3 CSS*/
.section3 {
    border: 1px solid #e7e7e7;
    background-color: white;
    text-align: center;
    padding: 37px 15px 8px 15px;
    color: #636363;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.border1 {
    margin: 0 auto;
    height: 124px;
    width: 124px;
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    /*padding: 1px;*/
    display:flex;
}

.border2 {
    height: 115px;
    width: 115px;
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    /*padding: 1px;*/
    margin: auto;
    display: flex;
}

.pic1, .pic2, .pic3 {
    margin: auto;
    font-size: 60px;
    font-weight: 200;
}

.pic1 {
    color: #efa8b0;
}

.pic2 {
    color: #c79cc8;
}

.pic3 {
    color: #8cc9f0;
}

.section3 .border-line {
    margin-bottom: 16px;
}

.section3 .border1 {
    margin-bottom: 22px;
}

.section3 h3 {
    margin-bottom: 13px;
    margin-top: 0;
}

.section3 p {
    margin: 0;
}

.section1-content-wrapper:nth-child(2),.section1-content-wrapper:nth-child(3)  {
    margin-top: 30px;
}

.section1-content-wrapper:nth-child(3) p {
    margin-bottom: 20px;
}



/*.pic1::before {*/
/*    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f121";*/
/*}*/
