/*Mobile CSS*/
body {
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

header {
    /*background-color: #272d39;*/
    background-color:rgba(55, 61, 73, 0.975);
    padding: 7px 7px 7px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    box-sizing: border-box;
    border: 1px solid #5b5e6d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 10pt;
    color: white;
    display: inline;
}

/*kodel nehoverina and mobile kai uzvedam pele*/
.back-btn:hover {
    border: 1px solid #e7746f;
    border-radius: 4px;
    color: #e7746f;
    padding: 10px 20px;
    font-weight: 600;
    display: inline;
}

.download-btn {
    /*nebutinas borderis*/
    /*border: 1px solid #dee0e3;*/
    background-color: #e7746f;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    display: inline;
}

.number {
    font-weight: 500;
}

/*
{bygtuko sviesus apsvietimas
    border-color: #575d69;
}
*/


/*Section1 CSS*/
.section1 {
    background-color: #625197;
    padding: 51px 15px 8px 15px;
    text-align: center;
    color: white;
}

.rocket {
    height: 85px;
}

.rocket img {
    height: 100%;
}

h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /*Nepavyko sumazinti fontwight iki reikiamo plocio*/
    font-weight: 300;
    margin-bottom: 10px;
}

.section1 p {
    color: rgba(255, 255, 255, 0.65);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 25px;
}

